* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  position: relative;
  width: 100%;
}
body {
  background-color: #212121;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.wrapper {
  background: transparent url("assets/background-main.png") no-repeat 50% 26px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  background: transparent url('assets/background-header.svg') no-repeat 50% 0;
  display: flex;
  flex: 0 0 auto;
  height: 110px;
  margin: 31px auto 0;
  position: relative;
  overflow: visible;
  width: 339px;
}
.header__pic-tl,
.header__pic-tr
.header__pic-bl
.header__pic-br {
  position: absolute;
  z-index: 1;
}

.header__pic-tl {
  background: transparent url('assets/header-top-left.svg') no-repeat 50% 50%;
  height: 26px;
  left: -3px;
  top: 1px;
  width: 15px;
}

.header__pic-tr {
  background: transparent url('assets/header-top-right.svg') no-repeat 50% 50%;
  height: 26px;
  left: auto;
  right: 11.08px;
  top: -5px;
  width: 12.63px;
}

.answer {
  color: #fafafa;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  margin: 9px 0 0 0;
  text-align: center;
}
.gender {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin: 20px auto 30px;
}
.gender__option {
  display: flex;
  flex-direction: column;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  height: 116px;
  line-height: 40px;
  opacity: 0.32;
  text-align: center;
  text-decoration: none;
  transition: opacity .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  will-change: opacity;
  width: 116px;
}
.gender__sep {
  color: #A0A2A2;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  height: 26px;
  line-height: 26px;
  margin: 7px 20px 0;
  text-align: center;
  width: 22px;
}
.gender__option--boy {
  color: #9bd1db;
}
.gender__option--girl {
  color: #E07DA8;
}
.gender__option {
  position: relative;
}
.gender__option--selected::before {
  background: rgba(255, 255, 255, 0.24);
  content: "";
  display: block;
  filter: blur(48px);
  left: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gender__option--selected {
  opacity: 1;
}

.gender__name {
  font-weight: normal;
}

.sep {
  background: transparent url('assets/sep.svg') no-repeat 50% 50%;
  border: none;
  display: flex;
  flex: 0 0 auto;
  height: 20.07px;
  margin: 0 auto 0;
  width: 205.52px;
}

.invite {
  color: rgba(250, 250, 250, 0.87);
  flex: 1 0 auto;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: normal;
  margin: 28px auto 0;
  text-align: center;
  width: 311px;
}
.invite__title {
  font-size: 32px;
  font-weight: normal;
  line-height: 43px;
  margin: 0;
}
.invite__text {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.date {
  align-items: center;
  background: transparent url("assets/vertical-sep.svg") no-repeat 50% 50%;
  color: #FFF59D;
  display: flex;
  flex-direction: row;
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin: 27px auto 0;
  min-height: 74px;
  text-align: center;
}

.date__box {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  width: 144px;
}
.date__box + .date__box {
  margin-left: 8px;
}
.date__body {
  font-weight: normal;
  font-size: 32px;
}

.address {
  color: rgba(250, 250, 250, 0.87);
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 17px;
  text-align: center;
}

.maps-link {
  color: #fafafa;
  display: flex;
  flex: 0 0 auto;
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 16px auto 0;
  opacity: 0.6;
  text-align: center;
  text-decoration: none;
}

.confirmation {
  display: flex;
  flex-direction: column;
  margin: 24px auto 18px;
}
.confirmation__text {
  color: rgba(250, 250, 250, 0.87);
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.confirmation__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirmation__button {
  opacity: 0.6;
  transition: opacity .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  user-select: none;
  will-change: opacity;
}
.confirmation__button + .confirmation__button {
  margin-left: 32px;
}
.confirmation__button--active {
  opacity: 1;
}

.gift {
  color: #FAFAFA;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin: 19px 0 0;
  text-align: center;
}
.gift-sugestion {
  color: #FAFAFA;
  font-family: Patrick Hand SC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 18px 0 46px;
  text-align: center;
  opacity: 0.6;
}